<div class="jumbotron">
  <h1 class="display-3">Hello and Welcome</h1>
  <p class="lead">This is my final project for CS340 Introduction to Databases. </p>
  <hr class="my-4">
  <p>For more information follow the link below to the GitHub Repository for this site.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.github.com" role="button">Learn more</a>
  </p>
</div>
